.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #376a7d;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.programs-wrapper {
  float: left;
  width: 30%;
  /* border: 3px solid #73ad21; */
  padding: 10px;
}

.participants-wrapper {
  float: right;
  width: 31%;
  height: 400px;
  overflow: scroll;
  /* border: 3px solid #73ad21; */
  padding: 10px;
}

.chart-wrapper {
  padding: 45px 0;
  width: 35%;
  /* border: 3px solid green; */
  float: left;
  text-align: center;
}

.headers {
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

.text {
  color: #376a7d;
}
